:root {}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

main {
   display: grid; 
}

/* force cover */
#main-bg{
    position: fixed;
    width: 100%;
    height: 100vh;
}

.card-wrapper {
    position: relative;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

#home-img{
    width: 100%;
}