<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="/public/css/output.css" />
</head>
<body class="bg-brand-500">
   <section class="h-screen flex flex-col justify-evenly items-center">
    <div class="riddle-card text-brand-100 text-center text-3xl">
        Solve a quick musical riddle to see my portfolio
    </div>
    <div class="keys flex flex-row gap-2 justify-center">
        <div class="sol w-[35px] h-[35px] bg-greens-200 border-1 rounded-full"></div>
        <div class="fi w-[35px] h-[35px] bg-greens-200 border-1 rounded-full"></div>
        <div class="fa w-[35px] h-[35px] bg-greens-200 border-1 rounded-full"></div>
        <div class="me w-[35px] h-[35px] bg-greens-200 border-1 rounded-full"></div>
        <div class="re w-[35px] h-[35px] bg-greens-200 border-1 rounded-full"></div>
        <div class="do w-[35px] h-[35px] bg-greens-200 border-1 rounded-full"></div>
    </div>
   </section> 
</body>
</html>