<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Keegan's Portfolio</title>
  </head>
  <body>
    <main class="lg:bg-[url(/public/images/greenGrassMusic-fs8.png)] bg-Grays-500 lg:bg-cover bg-center w-screen lg:h-screen flex flex-row justify-center items-center gap-12">

    </main>
  </body>
</html>
